@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #173935;
    --primary: #173935;
    --primary-foreground: #ffffff;
    --secondary: #ddf1e6;
    --secondary-foreground: #173935;
    --muted: #ddf1e6;
    --muted-foreground: #042117;
    --accent: #ddf1e6;
    --accent-foreground: #173935;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --ring: #173935;
    --card: #ffffff;
    --card-foreground: #173935;
    --popover: #ffffff;
    --popover-foreground: #173935;
    --border: #27615a;
    /* --background: #fff7e6;
    --foreground: #020817;
    --card: #f8eccd;
    --card-foreground: #020817;
    --primary: #645331;
    --primary-foreground: #f8fafc;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #ded5b6;
    --accent-foreground: #0f172a;
    --popover: #ffffff;
    --popover-foreground: #020817;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020817;
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462; */
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #173935;
        --foreground: #ffffff;
        --primary: #ffffff;
        --primary-foreground: #173935;
        --secondary: hsl(240 3.7% 15.9%);
        --secondary-foreground: #ffffff;
        --muted: hsl(240 3.7% 15.9%);
        --muted-foreground: hsl(240 5% 64.9%);
        --accent: hsl(240 3.7% 15.9%);
        --accent-foreground: #ffffff;
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: #ffffff;
        --ring: hsl(240 4.9% 83.9%);
        --card: #173935;
        --card-foreground: #ffffff;
        --popover: #173935;
        --popover-foreground: #ffffff;
        --border: hsl(240 3.7% 15.9%);
    }
} */

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-ring: var(--ring);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-border: var(--border);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    html,
    body,
    #__next {
        @apply bg-background border-border h-dvh scroll-smooth font-sans antialiased;
    }
}

input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

#nprogress {
    @apply pointer-events-none z-50;
}

#nprogress .bar {
    @apply bg-accent fixed top-0 left-0 z-50 h-0.5 w-full;
}
